*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(218, 210, 210);
    color:floralwhite;
}
#aman1{
    background-color: blue;
   
    
}
#container1{
    display:grid;
    grid-template-columns: 20% 80%;
    height:15vh;
    align-content: center;
}
#col1{
    text-align:center;
}
#col2{
    margin-right:8vw;
    
    /* 60px */
}
#container{
    display:flex;
    justify-content: right;
  
}
#container li{
    list-style-type: none;
    margin-left:3vw;
    
    /* margin:8px */
}

#container li a{
    text-decoration: none;
    text-transform: uppercase;
    color:floralwhite;
}
/* #col12-1{
   float:right;
} */
@media screen and (max-width:600px) and (min-width:200px){
    #container li{
        list-style-type: none;
        margin-left:3vw;
        font-size:12px;
        /* padding-top:20px; */
        
        /* margin:8px */
    }
}

/* main styling start */
.container{
    display:grid;
    grid-template-columns:250px 250px 250px ;
    grid-column-gap: 30px;
    grid-row-gap:10px;
    justify-content: center;
    margin-top: 50px;
}
section{
    border:2px solid black;
    color:#000;
    background-color: #eef;
   
}
@media  screen and (max-width:678px) {
    .container{
        display:grid;
        grid-template-columns:45vw 45vw;
        grid-column-gap: 10px;
        grid-row-gap:10px;
        justify-content: center;
    }
    section{
        border:2px solid black;
       
    }
    .col2 h2{
        font-size: 21px;
    }
    #sukri{
        width:40px;
        height:30px;
    }
}
#mahajan1{
    display:none;
}
#mahajan2{
    display:none;
}
#mahajan3{
    display:none;
}
button{
    display:block;
    margin-left:50vw;
    width:80px;
    height:40px;
    color:aliceblue;
    background-color: green;
    margin-top:20px;
}


/* footer styling */
footer{
   
    background-color: rgb(41, 38, 38);
    
}
.container3{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    margin-top:100px;
    padding-top:5px;
    justify-content: center;
    
}

.container3 li{
    list-style-type: none;
   
}
.container3 li a{
    text-decoration: none;
    color:floralwhite;
   
}
.amu1{
    margin-top:5px;
    margin-bottom:5px;

}
#sukr{
    font-size:20px;
}